@define-mixin colors-light {
    --color-primary: oklch(49.41% 0.104 133.41);
    --color-surface: oklch(100% 0 0);
    --color-gap: oklch(91.4% 0 0);
    --color-text: oklch(0% 0 0);
}

@define-mixin colors-dark {
    --color-surface: oklch(0% 0 0);
    --color-gap: oklch(10% 0 0);
    --color-text: oklch(100% 0 0);
}

:root {
    @mixin colors-light;
}

@media (prefers-color-scheme: dark) {
   :root:not(.light) {
        @mixin colors-dark;
   }
}

:root.dark {
   @mixin colors-dark;
}




